$extraSmallMargin: 3px;
$smallMargin: 6px;
$mediumMargin: 12px;
$largeMargin: 24px;
$largeMargin: 24px;

$breakSmall: 420px;
$widePage: 700px;

$headerBorderHeight: 2px;
$footerBorderHeight: $headerBorderHeight;

$black: #444;
$warning: rgb(223, 117, 20);
$success: rgb(28, 184, 65);
$primary: #0078e7;
$secondary: rgb(66, 184, 221);
$disabled: #E6E6E6;

$highlightedLink: #4A90E2;

$headingFontFamily: Verdana, Geneva, sans-serif;
$bodyFontFamily: "Times New Roman", Times, serif;

$imageBoxShadow: 0 0 1px 0px rgba(0, 0, 0, 0.75);